@page "/cart"
@using MyCheeseShop.Components.Account.Shared
@inject NavigationManager NavigationManager
@inject ShoppingCart ShoppingCart

<h1 class="orange">Your cart 🧀</h1>

@if (ShoppingCart.Count() == 0)
{
    <p class="orange">Your cart is empty</p>
    <div>
        <a @onclick="GoToStore" class="btn btn-outline-danger">Store</a>
    </div>
}
else
{

    <div class="mb-2">
        <a @onclick="GoToStore" class="btn btn-outline-danger">Store</a>

    </div>

    <CartSummary IsEditable="true" />
}




@code {

    protected override void OnInitialized()
    {
        ShoppingCart.OnCartUpdated += StateHasChanged;
    }

    private void GoToStore()
    {
        NavigationManager.NavigateTo("/");
    }
}
