@page "/cart"
@using MyCheeseShop.Components.Account.Shared
@inject NavigationManager NavigationManager
@inject ShoppingCart ShoppingCart

<h1>Your cart</h1>

@if (ShoppingCart.Count() == 0)
{
    <h3>Shopping Cart</h3>
    <p>Your cart is empty</p>
    <div>
        <a @onclick="GoToStore" class="btn btn-outline-primary">Back</a>
    </div>
}
else
{

    <a @onclick="GoToStore" class="btn btn-outline-primary">Back</a>

    <a @onclick="GoToCheckout" class="btn btn-outline-primary">Checkout</a>

    <CartSummary IsEditable="true" />
}




@code {

    protected override void OnInitialized()
    {
        ShoppingCart.OnCartUpdated += StateHasChanged;
    }

    private void GoToStore()
    {
        NavigationManager.NavigateTo("/");
    }

    private void GoToCheckout()
    {
        NavigationManager.NavigateTo("/checkout");
    }
}
